.container {
    max-width: 700px;
    margin: 0 auto;
    background: var(--base-color);
    padding: 25px;
}

.edit-hex > input {
    font-size: 28;
}

.colors-container {
    margin-top: 30px;
    height: auto;
    width: auto;
    padding: 2px;
}

.colors {
    height: 90px;
    min-width: 133px;
	min-height: 60px;
    width: 19%;
    border: none;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}


.copy-area {
    margin-top: 5px;
    height: 30px;
    resize: none;
    width: 100%;
    color: orangered;
    font-size: 1em;
    background: #333333;
}

.gen-button{
    margin-top: 10px;
    float: none;
}

#gallery-heading {
    font-size: 37;
    color: var(--text-color)
}