body {
	margin: 0;
	background: var(--site-background)
}


.content {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 50px;
}

.gen-button {
	border: none;
	background: var(--active-color); 
	color: var(--active-text-color);
  	padding: 7px 14px; 
	cursor: pointer; 
	margin: 0;
	font-size: 20px;
	float: left;
}

.gen-button:hover {
	background-color: var(--active-hover);
    color: var(--active-hover-text-color);
}

.gen-con {
	position: fixed;
	bottom: 0;
	border: 1px;
	border-style: solid;
	margin: 0;
	padding: 0;
	width: 100%;
	background: var(--base-color);
	height: auto;
}

.gen-con > label {
	padding: 5px;
	font-size: 20px;
	font-weight: 500;
	border-left: white;
}

.gen-con > select {
	height:40;
	min-width: auto; 
	font-size: 20px;
	font-weight: 500;
	border-width: 3px;
  	border-color: rgba(50, 50, 50, 0.14);
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 10;
	width: 10px;
	border-radius: 50%;
	border: 2px solid black;
	background: white;
	cursor: pointer;
	margin-top: -6px;
  }
  
input[type=range]::-moz-range-thumb {
	border: 2px solid black;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

input[type=range]::-ms-thumb {
	border: 2px solid black;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}
