body {
	margin: 0;
	background: var(--site-background)
}


.content {
	width: 100%;
	margin: auto;
	margin-top: 50px; 
}

.gen-button {
	border: none;
	background: var(--active-color); 
	color: var(--active-text-color);
  	padding: 7px 14px; 
	cursor: pointer; 
	margin: 0;
	font-size: 20px;
}

.gen-con {
	position: fixed;
	bottom: 0;
	border: 1px;
	border-style: solid;
	margin: 0;
	padding: 0;
	width: 100%;
	background: var(--base-color);
	height: 50px;
}

.gen-con label {
	padding: 5px;
	font-size: 20px;
	font-weight: 500;
	border-left: white;
}

.gen-con select {
	height:100%;
	min-width: auto; 
	font-size: 20px;
	font-weight: 500;
	border-width: 3px;
  border-color: rgba(50, 50, 50, 0.14);
}
